Django==2.1
pytz==2017.3
psycopg2==2.7.3.2
django-ipware==1.1.6
waitress==1.1.0
geoip2==2.6
django-extensions==2.1.2
gunicorn==19.9.0
django-admin-rangefilter==0.3.7
ipython==6.2.1
social-auth-app-django==3.1.0
semver==2.8.1