<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kolibri Install Stats</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
    <style>
      #map {
        height: 550px;
      }
      .legend {
        font-style: italic;
        text-align: center;
        font-size: 14px;
        padding-bottom: 15px;
      }
    </style>
  </head>
  <body>
    <div style="width: 45%; height: 250px; float: left; padding-right: 100px;">
      <canvas id="chart-monthly"></canvas>
      <div class="legend">Installations by month (since inception)</div>
      <canvas id="chart-versions" style="height: 800px;"></canvas>
      <div class="legend">Version pingbacks by month (since inception)</div>
      <!-- <canvas id="chart-weekly"></canvas>
      <div class="legend">Installations by week</div> -->
      <canvas id="chart-daily"></canvas>
      <div class="legend">Installations by day (over past 3 weeks)</div>
    </div>
    <div style="float: left; width: 45%;">
      <div style="max-width: 45%; margin: 100px 0;">
        <table id="statistics" class="table table-striped">
        </table>
      </div>
      <div>
        <div class="legend">Pingbacks over the past hour:</div>
        <div id="map"></div>
        <button id="migrationbutton">Draw migration path</button>
      </div>
    </div>
    <script>

      function transparentize(color, opacity) {
        var alpha = opacity === undefined ? 0.5 : 1 - opacity;
        return Color(color).alpha(alpha).rgbString();
      }

      function timeline_callback(data) {
        draw_chart(data.monthly, "chart-monthly");
        // draw_chart(data.weekly, "chart-weekly");
        draw_chart(data.daily, "chart-daily");
      }

      function countries_callback(data) {
        document.getElementById('statistics').innerHTML = "";
        add_statistic("Total installs", data.instance_total);
        add_statistic("Total countries", data.country_total);
        draw_map(data.last_hour_locations);
      }

      function versions_callback(data) {
        draw_versions_chart(data.months, data.colors, data.by_version);
      }

      function draw_migration() {
        var keys = Object.keys(window.migrations);
        var instance_id = keys[Math.floor(Math.random() * keys.length)];
        var migration = window.migrations[instance_id];

        if (window.migrationline) {
          window.mymap.removeLayer(window.migrationline);
          window.mymap.removeLayer(window.migrationmarker);
        }

        window.migrationline = new L.Polyline(migration, {
            color: 'red',
            weight: 5,
            opacity: 0.8,
            smoothFactor: 1
        });
        window.migrationmarker = L.marker(migration[0]);
        window.migrationline.addTo(window.mymap);
        window.migrationmarker.addTo(window.mymap)

      }

      function migrations_callback(data) {
        window.migrations = data;
        document.getElementById("migrationbutton").onclick = draw_migration;
      }

      function draw_versions_chart(months, colors, by_version) {
        var presets = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };

        var colorarray = [presets.red, presets.orange, presets.yellow, presets.green, presets.blue, presets.purple, presets.grey];

        var data = {
            labels: months,
            datasets: Object.entries(by_version).map(function(dat, ind) {

                var col = colorarray[colors[ind]];

                return {
                    backgroundColor: transparentize(col),
                    borderColor: col,
                    data: dat[1],
                    hidden: false,
                    label: dat[0]
                };

            })
        };

        var options = {
            maintainAspectRatio: false,
            spanGaps: false,
            elements: {
                line: {
                    tension: 0.000001
                }
            },
            scales: {
                yAxes: [{
                    stacked: true
                }]
            }
        };

        var chart = new Chart(document.getElementById('chart-versions'), {
            type: 'line',
            data: data,
            options: options
        });

      }

      function draw_map(pins) {
        document.addEventListener('DOMContentLoaded', function() {
          window.mymap = L.map('map', {
            zoomControl: false,
            attributionControl: false
          });
          mymap.setView([21, 10], 2);
          L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: '',
            maxZoom: 18,
            id: 'mapbox.satellite',
            accessToken: 'pk.eyJ1IjoiamFtaWVhbGV4YW5kcmUiLCJhIjoiY2psb28zMjFkMXZzOTNxbXhwMDR5eDg1YSJ9.zJyQIrzEWFQVu--G5TMMRg'
          }).addTo(mymap);
          window.markerGroup = L.layerGroup().addTo(mymap);
          draw_map_pins(pins);
        }, false);
        if (document.readyState === "complete") {
          draw_map_pins(pins);
        }
      }

      function draw_map_pins(pins) {
        markerGroup.clearLayers();
        var myIcon = L.icon({
            iconUrl: 'https://raw.githubusercontent.com/learningequality/kolibri-installer-android/develop/assets/logo.png',
            iconSize: [40, 40],
            iconAnchor: [20, 20],
            popupAnchor: [20, 20],
        });
        pins.map(function(pin) {
          if (pin) {
            L.marker([pin.lat, pin.long], {icon: myIcon}).addTo(markerGroup);
          }
        });
      }

      function add_statistic(title, value) {
        var tableRef = document.getElementById('statistics');

        var newRow = tableRef.insertRow(tableRef.rows.length);

        newRow.insertCell(0).appendChild(document.createTextNode(title));
        newRow.insertCell(1).appendChild(document.createTextNode(value));

      }

      function draw_chart(data, chart_id) {
        var start = data.history.map(function(val) { return val.start }).concat(["Current"]);
        var running_average = data.history.map(function(val) { return val.running_average }).concat([data.running_average]);
        var count = data.history.map(function(val) { return val.count }).concat(data.current_actual);
        var projected = data.history.map(function(val) { return 0 }).concat([data.current_projected - data.current_actual]);

        new Chart(document.getElementById(chart_id), {
            type: 'bar',
            data: {
              labels: start,
              datasets: [
                {
                  label: "Running average",
                  type: "line",
                  borderColor: "#5e5ea2",
                  data: running_average,
                  fill: false
                }, {
                  label: "Instances",
                  type: "bar",
                  backgroundColor: "rgba(150,0,0,0.4)",
                  backgroundColorHover: "#3e95cd",
                  data: count
                }, {
                  label: "Projected",
                  type: "bar",
                  backgroundColor: "rgba(0,100,0,0.4)",
                  backgroundColorHover: "#3e95cd",
                  data: projected
                }
              ]
            },
            options: {
              scales: {
                xAxes: [{ stacked: true }],
                yAxes: [{ stacked: true }]
              },
              title: {
                display: false,
                text: 'Population growth (millions): Europe & Africa'
              },
              legend: { display: false },
              maintainAspectRatio: false
            }
        });
      }

      function refresh_data() {
        reload_script("timeline_script");
        reload_script("countries_script");
        reload_script("versions_script");
        // reload_script("migrations_script");
      }

      function reload_script(id) {
        scriptTag = document.getElementById(id);
        document.body.removeChild(scriptTag);
        var newScriptTag = document.createElement('script');
        newScriptTag.src = replaceUrlParam(scriptTag.src, "cachebuster", Math.random());
        newScriptTag.id = scriptTag.id;
        document.body.appendChild(newScriptTag);
      }

      function replaceUrlParam(url, paramName, paramValue) {
        if (paramValue == null) {
          paramValue = '';
        }
        var pattern = new RegExp('\\b('+paramName+'=).*?(&|#|$)');
        if (url.search(pattern)>=0) {
          return url.replace(pattern,'$1' + paramValue + '$2');
        }
        url = url.replace(/[?#]$/,'');
        return url + (url.indexOf('?')>0 ? '&' : '?') + paramName + '=' + paramValue;
      }

      setInterval(refresh_data, 30000);

    </script>

    <script id="timeline_script" src="https://telemetry.learningequality.org/api/analytics/timeline?callback=timeline_callback"></script>
    <script id="countries_script" src="https://telemetry.learningequality.org/api/analytics/countries?callback=countries_callback"></script>
    <script id="versions_script" src="https://telemetry.learningequality.org/api/analytics/versions?callback=versions_callback"></script>
    <script id="migrations_script" src="https://telemetry.learningequality.org/api/analytics/migrations?callback=migrations_callback"></script>

  </body>
</html>